<!-- @format -->

<div class="row mt-5">
	<div class="col-md-6 m-auto">
		<div class="card card-body text-center">
			<h1>Hello from the about page</h1>
			<h2>This is working</h2>
			<p>Create an account or login</p>
		</div>
	</div>
</div>
